
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b9ccd1;
    
    }

   #search-input {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

   table {
    width: 80%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0px;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #555;
    font-size: 16px;
    color: #333;
  }
  
  th {
    background-color: #0077b6;
    color: #fff;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 16px;
    color: #333;
  }
  
  input[type=text], input[type=tel], input[type=email] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    border-color: #333;
    box-sizing: border-box;
    margin-bottom: 16px;
    font-size: 16px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 20px;
  }
  
  button {
    background-color: #0077b6;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
  }
  
  button:hover {
    background-color: #004466;
  }
  
  #message-section {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: #0077b6;
    color: #fff;
    text-align: center;
  }
  
  .error {
    color: red;
  }