.nome {
    justify-content: center;
}

.div1 {
    font-family: "Times New Roman", Times, serif;
    font-size: large;
    max-width: 750px;
    margin: auto;
    line-height: 25px;
    background-color: whitesmoke;
    border-radius: 25px;
    padding: 10px;
    border-style: solid;
    border-color: black;
}